# Model Building from the Preprocess dataset

Split Data into x and y

In [3]:
import pandas as pd
import numpy as np

Loard Data

In [4]:
data = pd.read_csv('preprocessed_data.csv')

In [5]:
# Features and Target
x = data.drop('PerformanceRating', axis=1) 
y = data['PerformanceRating']

In [6]:
x.head()

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Gender_Num,Education,MaritalStatus_num,Department,BusinessTravel,Overtime,Attrition_num
0,32,10,3,4,55,3,2,4,1,12,...,7,0,8,1,3,1,0,0,0,0
1,47,14,4,4,42,3,2,1,2,12,...,7,1,7,1,3,1,0,0,0,0
2,40,5,4,4,48,2,3,1,5,21,...,13,1,12,1,1,2,0,1,1,0
3,41,10,4,2,73,2,5,4,3,15,...,6,12,6,1,6,0,2,0,0,0
4,60,16,4,1,84,3,2,1,8,14,...,2,2,2,1,3,1,0,0,0,0

In [7]:
y.head()

0    3
1    3
2    4
3    3
4    3
Name: PerformanceRating, dtype: int64

In [8]:
## training and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)